doctype html
html
 head
  title DESy
  body
   h1 Add Criteria 
   
   br
   br
   br
   form(method='POST' action='/addCourse')
    br
    label() Institute Name 
    input(type='text', placeholder='Institute Name' name='instituteName')
    br
    br
    label() Degree 
    input(type='text', placeholder='Degree' name='degree')
    br
    br
    label() Stream
    input(type='text', placeholder='Stream' name='stream')
    br
    br
    label() Total Lecture
    input(type='text', placeholder='Total Lecture' name='totalLectures')
    br
    br
    label() Total Practicals
    input(type='text', placeholder='Total Practicals' name='totalPracticals')
    br
    br
    label() Total Tutorials
    input(type='text', placeholder='Total Tutorials' name='totalTutorial')
    br
    br
    label() Course Credits
    input(type='text', placeholder='Course Credits' name='courseCredits')
    br
    br
    label() Course Professor
    input(type='text', placeholder='Course Professor' name='courseProfessor')
    br
    br
    label() Course Semester
    input(type='text', placeholder='Course Semester' name='courseSem')
    br
    br
    label() Course Syllabus
    input(type='text', placeholder='Course Semester' name='courseSyllabus')
    br
    br
    
    input(type='Submit' value='Submit')
