doctype html
html
 head
  title DESy Registration
  body
   h1 Registration of Admin

   br
   br
   br
   form(method='POST' action='/addadmin/')
    label() orgName
    input(type='text', placeholder='Organization Name' name='orgName')
    
    br
    br
    
    input(type='Submit' value='Submit')
