doctype html
html
 head
  title E_Certs
  body
   h1 First Page
   br
   a(href='/registration')  Admin Registration
   br
   br
   a(href='/addCriteria') Add Admission Criteria 
   br
   a(href='/updateCriteria') Update  Admission Criteria 
   br   
   //- a(href='/addOrg') Add New Organization/Institute 
   a(href='/studentonboarding') Student Onboarding
   br
   a(href='/queryapplications') Query Submitted Applications
   br
   a(href='/transferapplications') Tranfer Applications
   br
   br
   a(href='/addCourse') Add Course 
   br
   a(href='/studentregistration') Student Registration
   br
