doctype html
html
 head
  title DESy Registration
  body
   h1 Registration of Student

   br
   br
   br
   form(method='POST' action='/applicationsquery')
    label() orgName
    input(type='text', placeholder='Organization Name' name='orgName')
    br
    label() Application ID
    input(type='text', placeholder='ApplicationID' name='ApplicationID')
    br
    label() Degree
    input(type='text', placeholder='Degree' name='degree')

    
    br
    br
    
    input(type='Submit' value='Submit')