doctype html
html
 head
  title DESy Registration
  body
   h1 Registration of Student

   br
   br
   br
   form(method='POST' action='/addapplication/')
    label() orgName
    input(type='text', placeholder='Organization Name' name='orgName')
    label() Degree
    input(type='text', placeholder='Degree' name='degree')
    label() Username
    input(type='text', placeholder='Username' name='username')
    label() Password
    input(type='text', placeholder='Password' name='Password')
    label() Application Number 
    input(type='text', placeholder='Application Number' name='ApplicationNumber')
    label() Name
    input(type='text', placeholder='Name' name='Name')
    label() DOB
    input(type='text', placeholder='DOB' name='DOB')
    label() Gender
    input(type='text', placeholder='Gender' name='Gender')
    label() E-Mail
    input(type='text', placeholder='E-Mail' name='EMAIL')
    label() Mobile Number
    input(type='text', placeholder='Mobile_number' name='Mobile_number')
    label() Aadhar Number
    input(type='text', placeholder='Aadhar_Number' name='Aadhar_number')
    label() 10th Marksheet
    input(type='text', placeholder='Marksheet_10' name='Marksheet_10')
    label() 12th Marksheet
    input(type='text', placeholder='Marksheet_12' name='Marksheet_12')
    label() Enterance Result
    input(type='text', placeholder='Entrance Result' name='EntranceResult')
    label() Achievements
    input(type='text', placeholder='Achievements' name='Achievements')

    br
    br
    
    input(type='Submit' value='Submit')