doctype html
html
 head
  title DESy Registration
  body
   h1 Registration of Student

   br
   br
   br
   form(method='POST' action='/users/')
    label() username
    input(type='text', placeholder='User Name' name='username')
    
    br
    br
    label() role
    input(type='text', placeholder='Role' name='role')
    
    br
    br
    label() orgname
    input(type='text', placeholder='Organization Name' name='orgname')
    
    br
    br
    
    input(type='Submit' value='Submit')
