doctype html
html
 head
  title DESy Registration
  body
   h1 Application Transfer

   br
   br
   br
   form(method='POST' action='/applicationtransfer')
    
    label() Application ID
    input(type='text', placeholder='ApplicationID' name='ApplicationID')
    br
    label() Degree
    input(type='text', placeholder='Degree' name='degree')

    label() Transfer To
    input(type='text', placeholder='Degree' name='transferto')

    
    br
    br
    
    input(type='Submit' value='Submit')